h3 {
    font-size: 2.2em;  /*Schriftgröße der 3.Überschrift*/
	font-weight: bold; /*Schrift dick*/
	line-height: 1.2em; /*alles Groß*/
	text-transform: uppercase; /*Großbuchstaben*/
}

p {
	margin: 40px 0;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 200px) { 
    /*auf Bildschirm einstellen*/
	.uk-overlay-panel {
		left: 0;
		width: 100%;
		top: auto;
		padding: 15px 10px;
		box-sizing: border-box;
	}
	p {
		margin: 10px 0; /*Text einrücken*/
	 }
}
*{
	margin: 0; /*Alles auf eine Größe einstellen*/
	padding: 1; /*Alles mittig*/
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif; /*Schriftart*/
	color: #555;
}

ul, nav{
	list-style: none; /*kein Styling in der nav-Leiste*/
}

a{
	text-decoration: none; /*link nicht unterstrichen*/
	cursor: pointer;
    opacity: 0.9; /* leicht durchsichtig*/
}

section{
	/*einstellen der mittigkeit von Überschriften*/
    display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

@media (min-width: 200px){

	section{
		padding: 100px 50px; /*einstellen der mittigkeit aller Texte in jeder Displaygröße*/
	}

}

section h3.title{
    
/*weitere einstellung der 3.Überschrift*/
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
    /*Stylen der Paragraphen*/
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}



/* NAV */
/* ######################### NAVIGATIONSMENÜ ######################### */
/* Einstellungen zur Navigationsbar*/

/* Grundeinstellungen für die Navigationsbar*/
nav {
    /*  */
	background: black;				/* Setzen der Hintergrundfarbe 'Schwarz' */
}

/* Ab einer bestimmten Größe wird eine Wertanpassung durchgeführt: Kleiner Gleich 1024px */
/* Anzeigeeinstellungen für eine mobile Webseite */
@media only screen and (max-width: 1024px) {
	/* ID für normales Web Menü */
	#Min-Width-Nav {
		display: none;				/* Ausblenden und Herausnehmen des normales Web Menüs */
        flex-direction: column;
	}
    #logo{
        justify-content: center;
        display: flex;
        background-image: url('../img/header-test-1.jpg');
    }
	
	/* ID für mobiles Menü */
	#Max-Width-Nav {
		font-size: 200%;			/* Größe der Schrift */
		justify-content: center;		/* Zentieren des einzellenn Items in dem Container */
        display: flex;

	}
	
	/* Einstellungen für den mobilen Menü Button */
	#Preferences_for_Menu_Button {
		font-size: 150%;			/* Größe der Schrift */
		margin: 0px;				/* Keine innere Umrandung */
		padding: 0px;				/* Keine äußere Umrandung */
	}
	
	/* Einstellungen für das Dropdownmenü*/
	.dropdown {		
		display: inline-block; 		/* Positioniert das Dropdoenmenü an der Stelle des Menü Buttons */
        display: flex;
        flex-direction: column;
	}
	
	/* Einstellungen zum Dropdownmenü */
	.dropdown-content {
		background-color: black;	/* HTML Silver */
		min-width: 160px;			/* Gibt eine Mindestgröße an */
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);	/* Erzeugt einen Schatten hinter der Box */
		margin: 0;					/* Keine innere Umrandung */
		padding: 0;					/* Keine äußere Umrandung */
		position: absolute;			/* Löst das Dropdown von dem Container */
		display: none;				/* Das standdardmäßge ausblenden des Dropdownmenüs */
        flex-direction: column;
	}
	
	/* Aktion beim Überqueren mit der Maus des Menü Buttons */
	.dropdown:hover .dropdown-content {
		display: flex;				/* Lässt das Dropdown ersscheinen*/
        flex-direction: column;
	}
	
	/* Aktion beim Überqueren mit der Maus der einzelnen Menüpunkte  */
	a:hover {
		background-color: aqua; 	/* Hintergrund der Menüpunkte werden eingefärbt in 'HTML DarkGray' */
	}
}

/* Ab einer bestimmten Größe wird eine Wertanpassung durchgeführt: Größer Gleich 1025px */
/* Anzeigeeinstellungen für eine normales Web Menü */
@media only screen and (min-width: 1025px) {
	/* ID für mobiles Menü */
	#Max-Width-Nav {
		display: none;				/* Ausblenden des mobilen Menüs */
	}
    #logo{
        justify-content: center;
        display: flex;
        background-image: url('../img/header-test-1.jpg');
    }
	
	/* ID für normales Web Menü */
	#Min-Width-Nav {
		/* Größenangaben */
		margin:20px;				/* Setzen des Inneren Randes */
		padding:0px;				/* Herausnehmen des äußeren Randes */
    
		/* Flexboxeigenschaften */
		display: flex;				/* 'Min-Width-Nav' soll als Container für eine Flexbox dienen */
		flex-direction: row;		/* Es soll alles Horizontal verlaufen */
		flex-wrap: wrap;			/* Sorgt bei einer Verängung von Links und Rechts für einen Zeilenumbruch der Links */
		justify-content:center;		/* Zentrierung der Menüleister in der Mitte von der Seite */
	}
	
	/*  */
	li:hover {
		background-color: aqua; 	/* Hintergrund der Menüpunkte werden eingefärbt in 'HTML Silver' */
	}
}

/* Listeneigenschaften für das Navigationsmenü */
li {
    padding: 10px 20px;				/* Setzen der oberen und unterenen sowie den Rändern links und rechts */
    margin: 0px;					/* Kein innerer Rand */
    display: block;					/* Als Blockelemente definieren (Punkte vor den Listelementen werden ausgeblendet) */
}

body nav{
    display: flex;
    flex-direction: column;
}





/* Irgend ein Schieß von der Frau Dings Bums*/
.hero h1{
    /*Stylen der 1.Überschrift*/
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
    /*Stylen der 3.Überschrift*/
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 20px;
}

@media (min-width: 200px){
/*Stylen für alle Geräte*/
	.hero{
		min-height: 20px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

}
/*-------------
 	Footer
-------------*/

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (min-width: 200px){

	footer{
		padding: 80px 15px;
        flex: auto;
	}

}

